@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-1">Bem-vindo!</h1>
        <h2 class="display-4">DigitalCore, Lda</h2>
        <h3 class="display-4">A sua loja informática à distância de um click!</h3>
        <p>Se não conseguir aceder à nossa Loja! <a href="https://www.pcdiga.com/"> Utilize o link para a partir da nossa filial</a>.</p>
    </div>
